<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="messageService" class="akm.spring.pojo.MessageServiceImpl">
	</bean>

	<bean id="messagePrinter" class="akm.spring.pojo.MessagePrinter">
		<property name="messageService" ref="messageService" />
	</bean>

	<bean id="application" class="akm.spring.pojo.Application"
		init-method="init">
		<property name="messagePrinter" ref="messagePrinter" />
	</bean>
</beans>